body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#pongCanvas {
    display: block;
    background: black;
}

.pause-menu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-family: 'Resist Sans', sans-serif;
    text-align: center;
    font-size: 40px;
    line-height: 100px;
}

.pause-menu.active {
    display: block;
}
